.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages__slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  color: $dark-blue;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 306px;
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    height: 419px;
    font-size: 50px;
  }
}

.advantages__slogan::after {
  content: "";
  display: block;
  height: 0;
  border-bottom: 30px solid $grey;
  border-left: 320px solid transparent;

  @media (min-width: $tablet-width) {
    height: 60px;
    border-left: 660px solid transparent;
    border-bottom: 53px solid $grey;
  }

  @media (min-width: $desktop-width) {
    height: 90px;
    border-left: 1200px solid transparent;
    border-bottom: 93px solid #f2f2f2;
  }
}

.advantages__question {
  display: flex;
  align-items: center;
  height: 111px;
  line-height: 29px;
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    margin: 3px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 62px;
    margin: 43px 0 0 0;
  }
}

.advantages__sentence {
  line-height: 29px;
  margin: 0;
  padding-bottom: 32px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    width: 400px;
    line-height: 53px;
    margin: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 425px;
    line-height: 55px;
    padding-bottom: 19px;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: 18px auto 0 auto;
  padding: 0;

  :last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 56%;
    margin: 0;
    padding-left: 44%;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: unset;
    margin-top: -110px;
    padding-left: unset;
  }
}

.advantages__item {
  width: 88%;
  min-height: 99px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: $dark-blue;
  padding: 35px 10% 0 10%;

  &:first-of-type {
    @media (min-width: $tablet-width) {
      padding-bottom: 28px;
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $tablet-width) {
      padding-bottom: 28px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    align-items: center;
    padding: 0;
  }
}

.advantages__title {
  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    align-items: center;
    text-align: center;
    width: 216px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    padding-top: 38px;
    order: 2;
  }
}

.advantages__description {
  height: 70px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $desktop-width) {
    width: 249px;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: $dark-blue;
    order: 3;
  }
}

.advantages__image--three {
  height: 275px;
  margin-top: 45px;
  margin-bottom: 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 90%;
    height: 100%;
    position: absolute;
    top: -105px;
    left: 20px;
    overflow: unset;
  }

  @media (min-width: $desktop-width) {
    position: unset;
    height: 322px;
    margin-top: 14px;
    order: 1;
  }
}

.advantages__image--one {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__image--two {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
