.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages__slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  color: $dark-blue;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 230px;
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    height: 269px;
    font-size: 50px;
  }
}

.advantages__slogan::after {
  content: "";
  display: block;
  height: 0;
  border-bottom: 30px solid $grey;
  border-left: 320px solid transparent;

  @media (min-width: $tablet-width) {
    border-left: 660px solid transparent;
  }

  @media (min-width: $desktop-width) {
    border-left: 1200px solid transparent;
  }
}

.advantages__question {
  margin: 0;
  height: 111px;
  display: flex;
  align-items: center;
  line-height: 29px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    margin: 36px 0 0 0;
  }
}

.advantages__sentence {
  margin: 0;
  line-height: 29px;
  padding-bottom: 32px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    width: 400px;
    margin: 0;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 0;

  :last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    width: 50%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: space-evenly;
  }
}

.advantages__item {
  text-align: center;
  width: 88%;
  min-height: 99px;
  line-height: 1.71;
  color: $dark-blue;
  padding: 35px 10% 0 10%;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 228px;
    padding: 0;
  }
}

.advantages__title {
  color: #000000;
  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    align-items: center;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.advantages__description {
  margin: 0;
  height: 70px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    color: $dark-blue;
    font-size: 18px;
    align-items: center;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__image--three {
  margin-top: 45px;
  margin-bottom: 0;
  height: 275px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.advantages__image--one {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__image--two {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
