.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  padding-bottom: 40px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 0;
    height: 166px;
  }
}

.app__title {
  width: 178px;
  height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: center;
  color: $pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: -15px;
    background-color: #ffffff;
    z-index: 10;
    width: 345px;
    line-height: 30px;
  }
}
