.bottom-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: space-between;
  }
}

.bottom-form__send {
  width: 276px;
  height: 59px;
  border: solid 2px $green;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
}
