.bottom-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 95%;
    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: space-between;
  }
}

.bottom-form__send {
  width: 276px;
  height: 64px;
  border: solid 2px $green;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;

  &:hover {
    background-color: $viridian;
    border-color: $viridian;
  }

  &:active {
    color: $translucent;
  }

  &:disabled {
    background-color: $border-input;
    border-color: $border-input;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    width: 303px;
  }
}
