.contacts-input {
  @media (min-width: $tablet-width) {
    width: 91%;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.contacts-input__label {
  display: flex;
  width: 135px;
  height: 28px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: $pink;
  text-transform: uppercase;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin-left: 40px;
    width: 96%;
    order: 2;
  }
}

.contacts-input__field {
  width: 276px;
  height: 55px;
  margin-top: 6px;
  border-radius: 3px;
  font-size: 18px;
  border: 2px solid $border-input;

  @media (min-width: $tablet-width) {
    width: 90%;
    margin-left: 20px;
    order: 1;
  }
}

.contacts-input__field::placeholder {
  color: $dark-blue;
  padding-left: 20px;
}
