.contacts-input {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.contacts-input__field {
  width: 276px;
  height: 57px;
  margin-top: 6px;
  border-radius: 3px;
  font-size: 19px;
  border: 2px solid $border-input;

  @media (min-width: $tablet-width) {
    width: 79%;
    margin-left: 20px;
    margin-bottom: 10px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 76%;
    margin-left: 11px;
    margin-top: 0;
  }
}

.contacts-input__field::placeholder {
  color: $dark-blue;
  padding-left: 20px;
}

.contacts-input__decor--telephone {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 0;
    height: 59px;
    width: 56px;
    background: $border-input url("../img/phone-svg.svg") 16px 20px no-repeat;
    border: 2px solid $border-input;
    order: 2;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.contacts-input__decor--email {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 0;
    height: 59px;
    width: 56px;
    background: $border-input url("../img/mail-svg.svg") 17px 22px no-repeat;
    border: 2px solid $border-input;
    order: 2;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
