.contacts-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border: none;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    width: 93%;
    border: 2px solid #e5e5e5;
    margin-bottom: 51px;
    padding: 23px 0 30px 0;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 23px 0 4px 0;
  }
}

.contacts-info__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 257px;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    align-items: center;
    color: $pink;
    text-transform: uppercase;
    margin-bottom: -15px;
    background-color: #ffffff;
    z-index: 10;
  }
}

.contacts-info__label {
  width: 135px;
  height: 28px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: $pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 96%;
  }
}

.contacts-info__field {
  width: 276px;
  height: 55px;
  margin-top: 6px;
  border-radius: 3px;
  font-size: 18px;
  border: 2px solid $border-input;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 20px;
  }
}

.contacts-info__field::placeholder {
  color: $dark-blue;
  padding-left: 20px;
}
