.crazy {
  @media (min-width: $tablet-width) {
    width: 91%;
    border: 2px solid $border-input;
    padding: 40px 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
