.download__button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  font-family: "OpenSans", "Arial", sans-serif;
  text-decoration: none;
  width: 86%;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: $white;
  border: 3px solid $white;
  border-radius: 35px;
  margin-top: -7px;
  margin-bottom: 33px;

  &:hover {
    color: $pink;
    background: $white;
  }

  &:active {
    color: $pink-down;
    background: $white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    margin-top: 0;
    width: 98%;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
    height: 49px;
    font-size: 21px;
    line-height: 0.86;
    margin-bottom: 69px;
  }
}

.download__description {
  text-align: center;
  color: $white;
  width: 230px;
  height: 37px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;

  @media (min-width: $tablet-width) {
    width: 295px;
    height: 41px;
    font-size: 18px;
    line-height: 1.33;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}
