.emotions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  margin: 0 0 38px 0;
  border: none;

  @media (min-width: $tablet-width) {
    width: 91%;
    border: 2px solid #e5e5e5;
    margin-top: 51px;
    margin-bottom: 67px;
    padding: 20px 10px 51px 10px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    border: solid 2px #e5e5e5;
    height: 217px;
    margin-top: 51px;
    margin-bottom: 65px;
    padding: 10px 10px 0 10px;
  }
}

.emotions__title {
  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    width: 200px;
  }
}

.emotions__description {
  width: 236px;
  height: 157px;
  border: solid 2px $border-input;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  padding: 14px 20px 26px 20px;
  display: flex;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 76%;
    margin-top: 12px;
    padding: 14px 20px 18px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
    width: 85%;
    height: 92px;
  }
}
