.filter-crop {
  width: 44px;
  height: 44px;
  background: url("../img/crop-svg.svg");

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
    margin-right: 29px;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
    margin-right: 48px;
    background-size: contain;
  }
}
