.filter-contrast {
  width: 32px;
  height: 32px;
  background: url("../img/contrastsvg.svg");

  @media (min-width: $tablet-width) {
    width: 17px;
    height: 17px;
    margin-right: 28px;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    width: 34px;
    height: 34px;
    margin-right: 55px;
    background-size: contain;
  }
}
