.filter-fill {
  width: 48px;
  height: 43px;
  background: url("../img/fill-svg.svg");

  @media (min-width: $tablet-width) {
    width: 25px;
    height: 25px;
    margin-right: 26px;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
    margin-right: 44px;
    background-size: contain;
  }
}
