.form__description {
  @media (min-width: $tablet-width) {
    width: 421px;
    height: 62px;
    font-size: 18px;
    line-height: 1.67;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  width: 254px;
  height: 90px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  margin: 0;
  padding-bottom: 48px;
}
