.general {
  width: unset;
  max-width: 940px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}
