.general-input {
  @media (min-width: $tablet-width) {
    width: 98%;
  }
}

.general-input__label {
  width: 135px;
  height: 28px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 96%;
    padding-left: 13px;
  }
}

.general-input__field {
  width: 276px;
  height: 55px;
  font-size: 19px;
  margin-top: 6px;
  margin-left: -22px;
  border-radius: 3px;
  border: 2px solid $border-input;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    border-color: $pink;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    height: 58px;
  }
}

.general-input__field::placeholder {
  color: $dark-blue;
  padding-left: 20px;
}
