.general-input {
  @media (min-width: $tablet-width) {
    width: 95%;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    width: 98%;
    padding-bottom: 37px;
  }
}

.general-input__label {
  height: 28px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: $pink;
  text-transform: uppercase;
  white-space: nowrap;
  padding-left: 22px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin-bottom: unset;
  }

  @media (min-width: $desktop-width) {
    padding-left: 13px;
  }
}

.general-input__field {
  width: 276px;
  height: 55px;
  margin-top: 0;
  margin-left: 0;
  border-radius: 3px;
  font-size: 19px;
  border: 2px solid $border-input;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    border-color: $pink;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    height: 57px;
    margin-top: 0;
  }
}

.general-input__field::placeholder {
  color: $dark-blue;
  padding-left: 20px;
}
