.hint-square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 12px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
  margin-top: 40px;
}

.hint-square__color {
  color: $pink;
  margin-right: 5px;
}
