.hint-square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 28px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
  }
}

.hint-square__color {
  color: $pink;
  margin-right: 5px;
}

.hint-square__hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    text-align: center;
    text-transform: uppercase;
  }
}
