.hours {
  display: flex;
  position: relative;
  margin-left: 20px;

  &::after {
    content: "24";
    display: block;
    position: absolute;
    top: 143px;
    left: 63px;
    height: 200px;
    width: 200px;
    font-weight: 600;
    font-size: 96px;
    color: $pink;

    @media (min-width: $desktop-width) {
      top: 166px;
      left: 80px;
      font-size: 118px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 175px;
    height: 175px;
    border: 15px solid $pink;
    border-radius: 160px;
    position: absolute;
    top: 105px;
    left: 17px;

    @media (min-width: $tablet-width) {
      width: 176px;
      height: 177px;
      top: 111px;
    }

    @media (min-width: $desktop-width) {
      width: 218px;
      height: 222px;
      top: 128px;
      left: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: -44px;
    margin-top: 30px;
  }
}

.hours__clock {
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
    margin-top: 58px;
  }
}
