.icons {
  display: flex;
  height: 56px;
  font-size: 0;
  align-items: center;
}

.icons__apple {
  width: 47px;
  height: 56px;
  background: url("../img/apple-logo-svg.svg") 0 0 no-repeat;
  margin-right: 34px;
}

.icons__android {
  width: 43px;
  height: 47px;
  background: url("../img/android-logo-svg.svg") 0 0 no-repeat;
  margin-right: 37px;
}

.icons__microsoft {
  width: 44px;
  height: 41px;
  background: url("../img/microsoft-logo-svg.svg") 0 0 no-repeat;
}
