.image-map {
  width: 100%;
  height: 200px;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    margin-left: -16px;
    top: 79%;
    left: 50%;
    width: 36px;
    height: 35px;
    background: url("/img/map-marker-svg.svg");

    @media (min-width: $tablet-width) {
      top: 72%;
    }

    @media (min-width: $desktop-width) {
      top: 67%;
    }
  }

  @media (min-width: $tablet-width) {
    height: 374px;
    top: 72%;
  }

  @media (min-width: $desktop-width) {
    height: 500px;
    top: 67%;
  }
}

.image-map__background {
  width: 100%;
}
