.item-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 87.5%;
  min-height: 85px;
  background-color: $grey;
  padding-top: 18px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
    min-height: 117px;
    padding-top: 24px;
    padding-bottom: 15px;
  }
}

.item-description--day {
  width: 87.5%;
  min-height: 85px;
  background-color: $grey;
  padding-top: 18px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 620px;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 23px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-bottom: 25px;
  }
}

.item-description__name,
.item-description__date,
.item-description__comment {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $dark-blue;
}

.item-description__name {
  flex-wrap: wrap;
  font-weight: bold;
  min-width: 20px;
  float: left;
  margin: 0;
  padding-right: 4px;
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
  }
}

.item-description__name--day {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.item-description__date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  padding-right: 18px;
}

.item-description__date--day {
  @media (min-width: $tablet-width) {
    width: 340px;
    margin-top: 3px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 614px;
  }
}

.item-description__comment {
  width: 80%;
  min-height: 92px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 14px;
  margin-top: -7px;
  padding: 0 18px;

  @media (min-width: $tablet-width) {
    min-height: 44px;
    order: 4;
    margin-bottom: 9px;
    padding: 0 28px;
  }
}

.item-description__comment--day {
  width: 87%;
  min-height: 25px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 1px;
  margin-bottom: 14px;
  padding: 0 18px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0 28px;
    line-height: 22px;
    margin-bottom: 1px;
    min-height: 20px;
    order: 4;
  }
}

.item-description__like {
  position: relative;
  width: 100px;
  height: 22px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
    order: 5;
  }
}

.item-description__like--day {
  position: relative;
  width: 100px;
  height: 22px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    width: 91px;
    height: 20px;
    padding-left: 46px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    padding-left: 89px;
  }
}

.item-description__like::before {
  content: "";
  display: flex;
  position: absolute;
  top: 6px;
  left: 18px;
  width: 13px;
  height: 12px;
  background: url("../img/heart-icon.svg");

  @media (min-width: $tablet-width) {
    left: 255px;
  }

  @media (min-width: $desktop-width) {
    left: 253px;
  }
}

.item-description__like--day::before {
  content: "";
  display: flex;
  position: absolute;
  top: 6px;
  left: 18px;
  width: 13px;
  height: 12px;
  background: url("../img/heart-icon.svg");

  @media (min-width: $tablet-width) {
    top: 6px;
    left: 155px;
  }

  @media (min-width: $desktop-width) {
    top: 6px;
    left: 195px;
  }
}
