.item-description {
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 117px;
  }

  width: 280px;
  min-height: 85px;
  background-color: $grey;
  padding-top: 18px;
  padding-bottom: 20px;
}

.item-description--day {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 940px;
  }

  width: 280px;
  min-height: 85px;
  background-color: $grey;
  padding-top: 18px;
  padding-bottom: 20px;
}

.item-description__name,
.item-description__date,
.item-description__comment {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $dark-blue;
}

.item-description__name {
  min-width: 20px;
  margin: 0;
  flex-wrap: wrap;
  float: left;
  padding-right: 4px;
  font-weight: bold;
  padding-left: 18px;
}

.item-description__date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  padding-right: 18px;
}

.item-description__comment {
  @media (min-width: $tablet-width) {
    height: 44px;
  }

  padding: 0 18px;
  margin-top: 5px;
  font-weight: 300;
  width: 224px;
  max-height: 92px;
  overflow: hidden;
}

.item-description__comment--day {
  @media (min-width: $tablet-width) {
    width: 519px;
  }

  padding: 0 18px;
  margin-top: 5px;
  font-weight: 300;
  width: 221px;
  max-height: 92px;
  overflow: hidden;
}

.item-description__like {
  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }

  position: relative;
  width: 88px;
  height: 9px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  padding-left: 50px;
}

.item-description__like--day {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 20px;
    right: 69px;
    width: 91px;
    height: 20px;
  }

  position: relative;
  width: 88px;
  height: 9px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  padding-left: 50px;
}

.item-description__like::before {
  @media (min-width: $desktop-width) {
    left: 253px;
  }

  content: "";
  display: flex;
  position: absolute;
  background: url("../img/icon-heart-svg.svg");
  top: 2px;
  left: 18px;
  width: 13px;
  height: 12px;
}

.item-description__like--day::before {
  @media (min-width: $tablet-width) {
    top: 5px;
    left: 155px;
  }

  content: "";
  display: flex;
  position: absolute;
  background: url("../img/icon-heart-svg.svg");
  top: 2px;
  left: 18px;
  width: 13px;
  height: 12px;
}
