.list-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 82px;

  @media (min-width: $tablet-width) {
    align-items: end;
    padding-bottom: 24px;
    margin-left: 46px;
    margin-right: 38px;
    margin-top: 9px;
    height: 22px;
    width: 100%;
    border-bottom: 1px solid $border-input;
  }

  @media (min-width: $desktop-width) {
    height: 44px;
    padding-bottom: 11px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 17px;
    margin-right: 45px;
  }
}

.list-icons__filters {
  border: none;
}
