.list-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid $border-input;

  @media (min-width: $tablet-width) {
    align-items: end;
    padding-top: 14px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 38px;
    height: 48px;
  }
}

.list-icons__filters {
  border: none;
}
