.main-nav {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 1200px;
  min-height: 63px;
  margin: 0 auto;
  transition: all 0.3s;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-height: 109px;
  }
}

.main-nav__wrapper {
  background: $dark-blue;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    width: 57%;
    background: none;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__top {
  border-bottom: 1px solid $black;

  @media (min-width: $desktop-width) {
    width: 35%;
  }
}

.main-nav--closed .main-nav__top {
  border: none;
}

.main-nav__toggle {
  display: flex;
  position: absolute;
  right: 5px;
  top: 24px;
  width: 50px;
  height: 24px;
  float: right;
  background: none;
  border: none;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 24px;
    background: url("../img/icon-menu-cross.svg") no-repeat;
  }

  &:hover::before {
    background: url("../img/close-menu-btn-copy.svg") no-repeat;
  }

  &:focus::before {
    background: url("../img/close-menu-btn-copy-2.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    top: 22px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--closed {
  @media (min-width: $desktop-width) {
    background-color: $shadow;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  width: 50px;
  height: 24px;
  background: url("../img/menu-burger-svg.svg") no-repeat;

  @media (min-width: $tablet-width) {
    top: 20px;
  }
}

.main-nav--closed .main-nav__toggle:hover::before {
  background: url("../img/open-menu-btn-copy-2.svg") no-repeat;
}

.main-nav--closed .main-nav__toggle:focus::before {
  background: url("../img/open-menu-btn-copy-3.svg") no-repeat;
  opacity: 0.3;
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.main-nav--opened .main-nav__wrapper {
  width: 100%;
}

.main-nav--opened .main-nav__toggle {
  display: flex;
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 0;
    width: 28px;
    height: 24px;
    background: url("../img/icon-menu-cross.svg") no-repeat;
  }

  &:hover::before {
    background: url("../img/close-menu-btn-copy.svg") no-repeat;
  }

  &:focus::before {
    background: url("../img/close-menu-btn-copy-2.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    top: 22px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
