@import "variables";

.main-nav__toggle {
  display: flex;
  float: right;
  width: 50px;
  height: 24px;
  background: #283645 url("../img/menu-burger-svg.svg") no-repeat;
  border: none;
  position: absolute;
  right: 20px;
  top: 24px;
}

.main-nav__toggle--active {
  display: flex;
  position: absolute;
  right: 20px;
  top: 24px;
  font-size: 0;
  height: 24px;
  width: 28px;
  background: #283645 url("../img/icon-menu-cross.svg") no-repeat;
  border: none;
}
