.page-footer {
  width: 320px;
  height: 284px;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 40px;
}
