.photo-processing {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: $grey;
  max-width: 940px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 78.3%;
    padding-bottom: 33px;
  }
}

.photo-processing__image {
  @media (min-width: $tablet-width) {
    float: left;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8.51%;
  }
}

.photo-processing__post {
  width: 87.5%;
  border-radius: 50px;
  background: none;
  padding: 15px;
  font-size: 18px;
  line-height: 1;
  border: 3px solid $pink;
  color: $pink;
  font-weight: bold;
  margin-bottom: 13px;
  margin-top: 38px;
  position: relative;

  &:hover {
    background-color: $pink;
    color: $white;
  }

  &:active {
    color: $translucent;
  }

  @media (min-width: $tablet-width) {
    width: 39%;
    margin-top: 51px;
    margin-left: 14px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin-right: 24px;
    margin-top: 127px;
    margin-left: 27px;
  }
}

.photo-processing__cancel {
  width: 87.5%;
  border-radius: 50px;
  background: none;
  padding: 15px;
  font-size: 18px;
  line-height: 1;
  border: 3px solid $darkgrey;
  color: $darkgrey;

  &:hover {
    color: $dark-blue;
    border-color: $dark-blue;
    opacity: 0.3;
  }

  &:active {
    color: $translucent;
    background-color: $dark-blue;
  }

  @media (min-width: $tablet-width) {
    width: 39%;
    margin-left: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}
