.photo-favorite__hit-day {
  width: 108px;
  height: 12px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
  background-color: $pink;
  color: $white;
  padding: 6px 12px 18px 20px;
  position: absolute;
  right: 20px;

  @media (min-width: $tablet-width) {
    right: 3%;
    margin-top: 9%;
  }

  @media (min-width: $desktop-width) {
    right: 11%;
    margin-top: 4.5%;
  }
}
