.photo-processing {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 78%;
  }
}

.photo-processing__image {
  @media (min-width: $tablet-width) {
    float: left;
    margin-left: 20px;
  }
}

.photo-processing__post {
  width: 280px;
  border-radius: 50px;
  background: none;
  padding: 14px;
  font-size: 18px;
  line-height: 1;
  border: 3px solid $pink;
  color: $pink;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 38px;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 183px;
    margin-right: 46px;
  }
}

.photo-processing__cancel {
  width: 280px;
  border-radius: 50px;
  background: none;
  padding: 14px;
  font-size: 18px;
  line-height: 1;
  border: 3px solid $darkgrey;
  color: $darkgrey;

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.photo-processing__post::before {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  top: -38px;
  width: 100%;
  border-top: 1px solid $darkgrey;
}
