.photo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: start;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
