.product-info__slogan {
  color: $white;
  height: 67px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-top: 21px;
  line-height: 31px;
  width: 225px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 188px;
    height: 126px;
    font-size: 40px;
    padding-top: 92px;
    margin-left: 11.8%;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
    height: 157px;
    font-size: 50px;
    margin-left: 13.4%;
    padding-top: 219px;
    line-height: 60px;
  }
}

.product-info__image {
  margin: 27px 0 0 0;
  padding: 0 62px 0 0;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: -112px 0 0 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: -167px 0 0 0;
    padding-left: 145px;
  }
}
