.radio__description {
  position: relative;
  width: 215px;
  height: 37px;
  padding-left: 76px;
  padding-top: 6px;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 36px;
    border: 1px solid $border-input;
    border-radius: 20px;
    background-color: $white;
  }

  &:hover {
    &::before {
      border: 1px solid $dark-blue;
    }
  }

  &:active {
    &::before {
      border: 1px solid $pink;
    }
  }

  &:focus {
    &::before {
      border: 1px solid $pink;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 11px;
    width: 15px;
    height: 15px;
    border: 1px solid $border-input;
    border-radius: 20px;
    background-color: $pink;
  }

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }
}

.radio__list:focus + .radio__description::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 36px;
  border-radius: 20px;
  background-color: $white;
  border: 1px solid $dark-blue;
}

.radio__list[type="radio"] + .radio__description::after {
  content: none;
}

.radio__list[type="radio"]:checked + .radio__description::after {
  content: "";
}
