.radio__list {
  background: none;
  position: relative;
  bottom: 12px;
  width: 0;

  &::before {
    content: "";
    display: block;
    width: 37px;
    height: 36px;
    border: 1px solid $border-input;
    border-radius: 20px;
    background-color: $white;
  }
}

.radio__list--checked {
  background: none;
  position: relative;
  bottom: 12px;
  width: 0;

  &::before {
    content: "";
    display: block;
    width: 37px;
    height: 36px;
    border: 1px solid $border-input;
    border-radius: 20px;
    background-color: $white;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 11px;
    width: 15px;
    height: 15px;
    border: 1px solid $border-input;
    border-radius: 20px;
    background-color: $pink;
  }
}

.radio__description {
  padding-left: 57px;
}
