.range-crop {
  width: 75%;
  color: $black;
  margin: 30px 0;
  order: 4;

  @media (min-width: $tablet-width) {
    order: 0;
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 402px;
  }
}
