.range-contrast {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 202px;
    height: 2px;
    color: $black;
    appearance: none;
    background: $black;
    margin: 10px 0;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    margin: 22px 0;
  }
}

.range-contrast::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid $pink;
  border-radius: 20px;
  background: $white;
  appearance: none;
}
