.range-crop {
  position: absolute;
  top: 98px;
  left: 12%;
  width: 75%;
  color: $black;
  margin: 22px 0;
  order: 4;
  -webkit-appearance: none;
  height: 2px;
  background: $black;

  @media (min-width: $tablet-width) {
    position: unset;
    order: 0;
    width: 202px;
    margin: 10px 0;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    margin: 22px 0;
  }
}

.range-crop::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid $pink;
  border-radius: 20px;
  background: $white;
}
