.rates {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  height: 443px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }
}

.rates__list {
  width: 100%;
  max-width: 940px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 93.5%;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 77.8%;
  }
}
