.rates-filter__name {
  display: flex;
  height: 59px;
  align-items: center;
  margin: 0;
  width: 234px;
  border: 2px solid $grey;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  color: $dark-blue;
  padding-left: 24px;
}
