.rates-filter {
  width: 233px;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 153px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
  }
}

.rates-filter__name {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 4px;
  width: 206px;
  height: 59px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.67;
  color: $dark-blue;
  border: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 139px;
    height: 45px;
    font-size: 14px;
    padding-left: 11px;
    border: 2px solid $grey;
  }

  @media (min-width: $desktop-width) {
    width: 206px;
    height: 59px;
    font-size: 18px;
    padding-left: 24px;
  }
}

.rates-filter__name--mobile {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 4px;
  width: 206px;
  height: 59px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.67;
  color: $dark-blue;
  border: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
