$dark-blue: #283645;
$black: #000000;

.reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "OpenSans", "Arial", sans-serif;
}

.reviews::after {
  content: "";
  display: block;
  height: 0;
  border-bottom: 30px solid #f2f2f2;
  border-left: 320px solid transparent;
}

.reviews__name {
  width: 155px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: $black;
  margin: 0;
  padding-top: 39px;
}

.reviews__description {
  width: 276px;
  height: 165px;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: $dark-blue;
}
