.reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "OpenSans", "Arial", sans-serif;
  position: relative;
  min-height: 377px;

  @media (min-width: $tablet-width) {
    min-height: 402px;
  }

  @media (min-width: $desktop-width) {
    min-height: 433px;
    padding-top: 62px;
  }
}

.reviews::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 0;
  border-bottom: 25px solid #f2f2f2;
  border-left: 320px solid transparent;

  @media (min-width: $tablet-width) {
    border-left: 660px solid transparent;
    border-bottom: 50px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    border-left: 1200px solid transparent;
    border-bottom: 82px solid #f2f2f2;
  }
}
