.social {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 154px;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
    margin-left: 35px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  flex-direction: unset;
  align-items: center;
  padding: 36px 0 0 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
    padding: 0;
  }
}

.social__item {
  border: 3px solid $grey;
  border-radius: 50px;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__link {
  display: flex;
  width: 46px;
  height: 46px;
  font-size: 0;
}

.social__item:first-of-type,
.social__item:nth-last-of-type(2) {
  margin-right: 11px;
}

.social__link.social__link--twitter {
  background: url("../img/twitter.png") 15px 16px no-repeat;
}

.social__link.social__link--facebook {
  background: url("../img/facebook.png") 19px 13px no-repeat;
}

.social__link.social__link--youtube {
  background: url("../img/youtube.png") 18px 16px no-repeat;
}
