.trip {
  padding-bottom: 30px;
}

.trip__done {
  width: 200px;
  height: 19px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: $dark-blue;
}
