.type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  flex-direction: row;
  height: 61px;

  @media (min-width: $tablet-width) {
    width: 616px;
    height: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    height: 61px;
  }
}

.type__name {
  width: 229px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: $dark-blue;
  background-color: $white;
  text-transform: uppercase;
  border: 2px solid $grey;

  &:nth-of-type(1) {
    width: 161px;
  }

  &:nth-of-type(2) {
    z-index: 2;
    width: 272px;
  }

  &:nth-of-type(3) {
    width: 141px;
  }

  @media (min-width: $tablet-width) {
    width: 153px;
    height: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 229px;
    height: 59px;
  }
}
