.user-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    order: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 49%;
    margin-top: -19px;
    margin-left: -18px;
    margin-right: 61px;
  }
}

.user-name__input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  width: 280px;
  height: 67px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    height: 66px;
    margin-bottom: 15px;
  }
}
