@import "font";
@import "variables.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/product.scss";
@import "blocks/download.scss";
@import "blocks/advantages.scss";
@import "blocks/contest.scss";
@import "blocks/page-footer.scss";
@import "blocks/attention.scss";
@import "blocks/item-description.scss";
@import "blocks/editor.scss";
@import "blocks/reviews.scss";
@import "blocks/rates.scss";
@import "blocks/contacts.scss";
@import "blocks/item-info.scss";
@import "blocks/icons.scss";
@import "blocks/photo-processing.scss";
@import "blocks/list-icons.scss";
@import "blocks/hit.scss";
@import "blocks/photo-item.scss";
@import "blocks/menu.scss";
@import "blocks/item-link .scss";
@import "blocks/photo-list.scss";
@import "blocks/form.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/history.scss";
@import "blocks/user-name.scss";
@import "blocks/general-input.scss";

$white: #ffffff;

body {
  font-family: "OpenSans", "Arial", sans-serif;
  min-width: 320px;
  margin: 0;
  background: $white;
}

.visually-hidden {
  display: none;
}
